@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600&display=swap');

:root {
  --kanka_colour: #212b36;
  --background_colour: #FFFFFF;
  --text_colour: #cc992c;
  --title_colour: #cc992c;
  --highlight_colour: #cc992c;

} 

.TfECharSheet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "titlename titlename titlename logo"
    "header header header header"
    "aspects aspects powers powers"
    "adventures adventures adventures adventures";
  row-gap: 0px;
  column-gap: 16px;
  padding: 10px;
  background-color: var(--background_colour);
  border-radius: 4px;
}

@media (max-width: 600px) {
  .TfECharSheet{
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "titlename"
      "header"
      "aspects"
      "powers"
      "adventures";
  }
}


.TfECharSheet>div {
  background-color: var(--background_colour);
  padding: 10px;
  border-radius: 4px;
  font-family: 'Exo';
  font-weight: 100;
}

/* main grid */
.TfECharSheet .titlename {
  grid-area: titlename;
}

.TfECharSheet .logo {
  grid-area: logo;
}

.TfECharSheet .header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "name player"
    "homeworld tokens";
  column-gap: 20px;
  padding-top: 0px;
}

.TfECharSheet .tokens {
  grid-area: tokens;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "current_tokens boons_purchased";
  column-gap: 0px;
}

.TfECharSheet .aspects {
  grid-area: aspects;
}

.TfECharSheet .powers {
  grid-area: powers;
}

.TfECharSheet .adventures {
  grid-area: adventures;
}

.TfECharSheet .powers_lines {
  grid-area: powers_lines;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "power_a"
    "power_b"
    "power_c";
  grid-column-gap: 0px;
}

.TfECharSheet .power_a {
  grid-area: power_a;
}

.TfECharSheet .power_b {
  grid-area: power_b;
}

.TfECharSheet .power_c {
  grid-area: power_c;
}



/* format scheme of sub parts */
.TfECharSheet h1 {
  color: var(--highlight_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  font-size: 80px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Vollkorn";
  font-weight: 600; 
}

.TfECharSheet h2 {
  color: var(--highlight_colour) !important; /*Themes use important so it is needed to override the theme*/
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: "Vollkorn";
  font-weight: 300;
}

.TfECharSheet h3 {
  color: var(--highlight_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 14px;
}

.TfECharSheet h4 {
  color: var(--kanka_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  margin-left: 5px;
  font-family: "Vollkorn";
  font-weight: 600;
}

.TfECharSheet p {
  color: var(--text_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
/*   margin-top: 10px; */
  font-family: "Exo";
  font-weight: 500;
  font-size: 17px;
}

.TfECharSheet .header p {
  font-size: 20px;
}


.TfECharSheet .bigTitle {
  background-color: var(--kanka_colour);
  border: 5px solid var(--kanka_colour);
  border-radius: 30px 10px 30px 10px;
}

.TfECharSheet .subTitle {
  background-color: var(--background_colour);
}

.TfECharSheet .subLine {
  border-bottom: 3px solid var(--kanka_colour);
/*   padding-bottom: 10px; */
  padding-top: 5px;
}

.TfECharSheet .gapLine {
  border-bottom: 3px solid var(--kanka_colour);
  padding-bottom: 10px;
  position: relative;
}

.TfECharSheet .noLine {
  padding-bottom: 10px;
}

.TfECharSheet .boons_purchased {
  border-left: 3px solid var(--kanka_colour);
}
