@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

:root {
  --kanka_colour: #122b6b;
  --background_colour: #ffffff;
  --title_colour: #122b6b;
  --text_colour: #000000;
}

.TfECharSheet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "titlename titlename titlename logo"
    "header header header header"
    "aspects aspects powers powers"
    "adventures adventures adventures adventures";
  grid-gap: 16px;
  padding: 10px;
}

@media (max-width: 600px) {
  .TfECharSheet{
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "titlename"
      "header"
      "aspects"
      "powers"
      "adventures";
  }
}


.TfECharSheet>div {
  background-color: var(--background_colour);
  padding: 10px;
  border-radius: 4px;
  font-family: 'Roboto Condensed', Copperplate, Verdana, sans-serif;
}

/* main grid */
.TfECharSheet .titlename {
  grid-area: titlename;
}

.TfECharSheet .logo {
  grid-area: logo;
}

.TfECharSheet .header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "name player"
    "homeworld tokens";
  grid-column-gap: 10px;
}

.TfECharSheet .tokens {
  grid-area: tokens;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "current_tokens boons_purchased";
  grid-column-gap: 0px;
}

.TfECharSheet .aspects {
  grid-area: aspects;
}

.TfECharSheet .powers {
  grid-area: powers;
}

.TfECharSheet .adventures {
  grid-area: adventures;
}

.TfECharSheet .powers_lines {
  grid-area: powers_lines;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "power_a"
    "power_b"
    "power_c";
  grid-column-gap: 0px;
}

.TfECharSheet .power_a {
  grid-area: power_a;
}

.TfECharSheet .power_b {
  grid-area: power_b;
}

.TfECharSheet .power_c {
  grid-area: power_c;
}



/* format scheme of sub parts */
.TfECharSheet h1 {
  color: var(--background_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  font-size: 80px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.TfECharSheet h2 {
  color: var(--background_colour) !important; /*Themes use important so it is needed to override the theme*/
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.TfECharSheet h3 {
  color: var(--background_colour) !important; /*Themes use important so it is needed to override the theme*/
  color: var(--);
  text-align: left;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.TfECharSheet h4 {
  color: var(--kanka_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  margin-left: 5px;
  color: var(--title_colour);
}

.TfECharSheet p {
  color: var(--text_colour) !important; /*Themes use important so it is needed to override the theme*/
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}


.TfECharSheet .bigTitle {
  background-color: var(--kanka_colour);
  border: 2px solid var(--kanka_colour);
  border-radius: 0px 30px 30px 30px;
}

.TfECharSheet .subTitle {
  background-color: var(--background_colour);
}

.TfECharSheet .subLine {
  border-bottom: 3px solid var(--kanka_colour);
  padding-bottom: 10px;
}

.TfECharSheet .noLine {
  padding-bottom: 10px;
}

.TfECharSheet .boons_purchased {
  border-left: 3px solid var(--kanka_colour);
}

}

