<!-- Testing stuff starts -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styleCharacter.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Testing stuff ends -->
<!-- The HTML inside this body tag is for upload to Kanka. The other stuff is so you can test in a browser tab. -->

<div class="TfECharSheet">

  <div class="titlename">
    <div class="bigTitle">
      <h3>TALES FROM</h3>
      <h1>EVERWHERE</h1>
      </div>
  </div>

  <div class="logo">
    <center><img src="https://kanka-app-assets.s3.amazonaws.com/images/logos/logo-large.png" alt="Kanka Logo" width="166" height="150"></center>
  </div>

  <div class="header">
    <div class="name">
      <div class="subTitle">
        <h4>NAME:</h4>
        <div class="subLine">
          <p>{Name}</p>
          </div>
        </div>
    </div>
    <div class="homeworld">
      <div class="subTitle">
        <h4>HOMEWORLD:</h4>
        <div class="subLine">
         <p>{Homeworld}</p>
         </div>
      </div>
     </div>
     <div class="player">
       <div class="subTitle">
        <h4>PLAYER:</h4>
        <div class="subLine">
         <p>{Player Name}</p>
         </div>
      </div>
     </div>
     <div class="tokens">
       <div class="current_tokens">
        <div class="subTitle">
          <h4>CURRENT TOKENS:</h4>
          <p>{Current tokens}</p>
          </div>
        </div>
        <div class="boons_purchased">
          <div class="subTitle">
            <h4>BOONS PURCHASED:</h4>
            <p>{Boons purchased}</p>
            </div>
          </div>
        </div>
  </div>

  <div class="aspects">
    <div class="bigTitle">
      <h2>ASPECTS</h2>
      </div>
    <div class="aspect highconcept">
      <div class="subTitle">
        <h4>HIGH CONCEPT</h4>
        </div>
      <div class="noLine">
        <p>{High concept}</p>
        </div>
      </div>
    <div class="aspect quest">
      <div class="subTitle">
        <h4>QUEST</h4>
        </div>
      <div class="noLine">
        <p>{Quest}</p>
        </div>
      </div>
    <div class="aspect trouble">
      <div class="subTitle">
        <h4>TROUBLE</h4>
        </div>
      <div class="noLine">
        <p>{Trouble}</p>
        </div>
      </div>
    </div>

  <div class="powers">
    <div class="bigTitle">
      <h2>POWERS</h2>
      </div>
    <div class="powers_lines">
      <div class="power_a">
        <div class="gapLine">
         <br>
         <p>{Power A}</p>
         </div>
      </div>
      <div class="power_b">
        <div class="gapLine">
         <br>
         <p>{Power B}</p>
         </div>
      </div>
      <div class="power_c">
        <div class="noLine">
         <br>
         <p>{Power C}</p>
         </div>
        </div>
      </div>
    </div>


  <div class="adventures">
    <div class="bigTitle">
      <h2>ADVENTURES COMPLETED</h2>
      </div>
    <div class="noLine">
      @if({Adventures})
        <p>{Adventures}</p>
      @else
        <p>None so far - so start travelling!</p>
      @endif
      
      </div>
    </div>

      
  </div>
<!-- Testing stuff starts -->
</body>
</html>
<!-- Testing stuff ends -->


<!-- Default values start
Name | Character's name
Player Name | Your name
Homeworld | Where your character comes from
Current tokens | Number sessions you played
Boons purchased | How much you advanced your character
High concept | The main idea of your character
Quest | What drives your character
Trouble | Your character's largest flaw
Power A | Something your character is good at
Power B | Something else your character is good at
Power C | A third thing your character is good at
Adventures | Which adventures you played in

Default values end -->