<!-- Testing stuff starts -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styleCampaign.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Testing stuff ends -->
<!-- The HTML inside this body tag is for upload to Kanka. The other stuff is so you can test in a browser tab. -->

<div class="TfECampaignSheet">

  <div class="titlename">
    <div class="bigTitle">
      <h1>{Campaign title}</h1>
      </div>
  </div>

  <div class="logo">
    <center><img src="https://kanka-app-assets.s3.amazonaws.com/images/logos/logo-large.png" alt="Kanka Logo" width="166" height="150"></center>
  </div>

  <div class="header">
    <div class="gm">
      <div class="subTitle">
        <h4>GM</h4>
        <div class="subLine">
          <p>{GM}</p>
          </div>
        </div>
    </div>
    <div class="numbers">
       <div class="num_sessions">
         <div class="subTitle">
           <h4># OF SESSIONS</h4>
            <div class="subLine">
              <p>{Number of sessions}</p>
              </div>
           </div>
         </div>
         <div class="num_players">
         <div class="subTitle">
           <h4># OF PLAYERS</h4>
            <div class="subLine">
              <p>{Number of player}</p>
              </div>
           </div>
         </div>
     </div>
    <div class="setting">
      <div class="subTitle">
        <h4>SETTING</h4>
        <div class="subLine">
         <p>{Setting}</p>
         </div>
      </div>
     </div>
     <div class="play_system">
       <div class="subTitle">
        <h4>SYSTEM</h4>
        <div class="subLine">
         <p>{System}</p>
         </div>
      </div>
     </div>
  </div>


  <div class="description">
    <div class="bigTitle">
      <h2>DESCRIPTION</h2>
      </div>
    <div class="noLine">
      <p>{Description}</p>
      </div>
    </div>

  <div class="players">
    <div class="bigTitle">
      <h2>PLAYERS</h2>
      </div>
    <div class="noLine">
      <p>{Players}</p>
      </div>
    </div>

  <div class="assets">
    <div class="bigTitle">
      <h2>ASSETS</h2>
      </div>
    <div class="noLine">
      <p>{Assets}</p>
      </div>
    </div>



      
  </div>
<!-- Testing stuff starts -->
</body>
</html>
<!-- Testing stuff ends -->
