<!-- Testing stuff starts -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style5e.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Testing stuff ends -->
<!-- The HTML inside this body tag is for upload to Kanka. The other stuff is so you can test in a browser tab. -->


@if($dodarkmode == true)
<div class="sheet-darkmode">
@else
<div class="sheet-lightmode">
@endif

<div class="dnd5eCharSheet">

  <div class="icon">
  </div>

  <div class="header">
    <div class="class">
      <p>@liveAttribute('Class') Lvl. @liveAttribute('Level')</p>
      <div class="subTitle">
        <h4>Class & Level:</h4>
        </div>
      </div>
    <div class="background">
      <p>@liveAttribute('Background')</p>
      <div class="subTitle">
        <h4>Background:</h4>
        </div>
      </div>
    <div class="player">
      <p>@liveAttribute('Player_Name')</p>
      <div class="subTitle">
        <h4>Player:</h4>
        </div>
      </div>
    <div class="race">
      <p>@liveAttribute('Race')</p>
      <div class="subTitle">
        <h4>Race:</h4>
        </div>
      </div>
    <div class="alignment">
      <p>@liveAttribute('Alignment')</p>
      <div class="subTitle">
        <h4>Alignment:</h4>
        </div>
      </div>
    <div class="xp">
      <p>@liveAttribute('Experience_Points')</p>
      <div class="subTitle">
        <h4>XP:</h4>
        </div>
      </div>
    </div>


  <div class="col_left">
    <div class="abilities">
      <div class="ability_box">
        <h4>Strength</h4>
        <p>{{ $_strmod }}</p>
        <div class=ability_circle>
          <p>@liveAttribute('Strength')</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Dexterity</h4>
        <p>{{ $_dexmod }}</p>
        <div class=ability_circle>
          <p>@liveAttribute('Dexterity')</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Constitution</h4>
        <p>{{ $_conmod }}</p>
        <div class=ability_circle>
          <p>@liveAttribute('Constitution')</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Intelligence</h4>
        <p>{{ $_intmod }}</p>
        <div class=ability_circle>
          <p>@liveAttribute('Intelligence')</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Wisdom</h4>
        <p>{{ $_wismod }}</p>
        <div class=ability_circle>
          <p>@liveAttribute('Wisdom')</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Charisma</h4>
        <p>{{ $_chamod }}</p>
        <div class=ability_circle>
          <p>@liveAttribute('Charisma')</p>
          </div>
        </div>
      </div>

    <div class="col_left_right">
      <div class="inspiration_box">
        <div class="banner_circle">
          <p>@liveAttribute('Inspiration')</p>
          </div>
        <div class="banner_square">
          <h4>Inspiration</h4>
          </div>
        </div>
      <div class="proficency_box">
        <div class="banner_circle">
          <p>@liveAttribute('_prof')</p>
          </div>
        <div class="banner_square">
          <h4>Proficiency Bonus</h4>
          </div>
        </div>
      <div class="passive_wisdom">
        <div class="banner_circle">
          <p>@liveAttribute('_passiveper')</p>
          </div>
        <div class="banner_square">
          <h4>Passive Wisdom (Perception)</h4>
          </div>
      </div>

      <div class="saves">
        <div class="profsign">@if($Strength_Save) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif</div>
        <div class="profvalue">{{ $_strsave }}</div><div class="proftext">Strength Save</div>
        <div class="profsign">@if($Dexterity_Save) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif</div>
        <div class="profvalue">{{ $_dexsave }}</div><div class="proftext">Dexterity Save</div>
        <div class="profsign">@if($Constitution_Save) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif</div>
        <div class="profvalue">{{ $_consave }}</div><div class="proftext">Constitution Save</div>
        <div class="profsign">@if($Intelligence_Save) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif</div>
        <div class="profvalue">{{ $_intsave }}</div><div class="proftext">Intelligence Save</div>
        <div class="profsign">@if($Wisdom_Save) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif</div>
        <div class="profvalue">{{ $_wissave }}</div><div class="proftext">Wisdom Save</div>
        <div class="profsign">@if($Charisma_Save) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif</div>
        <div class="profvalue">{{ $_chasave }}</div><div class="proftext">Charisma Save</div>
        <h4>Saving Throws</h4>
        </div>

      <div class="skills">
        <div class="profsign">
          @if($Acrobatics) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div>
        <div class="profvalue">{{ $_Acrobatics }}</div><div class="proftext">Acrobatics</div>
        <div class="profsign">
          @if($Animal_Handling) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Animal_Handling }}</div><div class="proftext">Animal Handling</div>
        <div class="profsign">
          @if($Arcana) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Arcana }}</div><div class="proftext">Arcana</div>
        <div class="profsign">
          @if($Athletics) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Athletics }}</div><div class="proftext">Athletics</div>
        <div class="profsign">
          @if($Deception) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Deception }}</div><div class="proftext">Deception</div>
        <div class="profsign">
          @if($History) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_History }}</div><div class="proftext">History</div>
        <div class="profsign">
          @if($Insight) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Insight }}</div><div class="proftext">Insight</div>
        <div class="profsign">
          @if($Intimidation) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Intimidation }}</div><div class="proftext">Intimidation</div>
        <div class="profsign">
          @if($Investigation) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Investigation }}</div><div class="proftext">Investigation</div>
        <div class="profsign">
          @if($Medicine) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Medicine }}</div><div class="proftext">Medicine</div>
        <div class="profsign">
          @if($Nature) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Nature }}</div><div class="proftext">Nature</div>
        <div class="profsign">
          @if($Perception) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Perception }}</div><div class="proftext">Perception</div>
        <div class="profsign">
          @if($Performance) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Performance }}</div><div class="proftext">Performance</div>
        <div class="profsign">
          @if($Persuasion) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Persuasion }}</div><div class="proftext">Persuasion</div>
        <div class="profsign">
          @if($Religion) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Religion }}</div><div class="proftext">Religion</div>
        <div class="profsign">
          @if($Sleight_of_Hand) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Sleight_of_Hand }}</div><div class="proftext">Sleight of Hand</div>
        <div class="profsign">
          @if($Stealth) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Stealth }}</div><div class="proftext">Stealth</div>
        <div class="profsign">
          @if($Survival) <i class="fas fa-circle"></i> @else <i class="far fa-circle"></i> @endif
          </div><div class="profvalue">{{ $_Survival }}</div><div class="proftext">Survival</div>
        <h4>Skills</h4>
        </div>
      </div>

    </div>

  <div class="col_center">
    <div class="col_center_top">
      <div class="ac">
        <h4>Armour Class</h4>
        <p>@liveAttribute('Armour_Class')</p>
        </div>
      <div class="ini">
        <h4>Initiative</h4>
        <p>@liveAttribute('_initiative')</p>
        </div>
      <div class="speed">
        <h4>Speed</h4>
        <p>@liveAttribute('Speed')</p>
        </div>
      <div class="hitpoints">
        <h4>Current hit points</h4>
        <p>@liveAttribute('Hit_Points') / @liveAttribute('Hit_Point_Maximum')</p>
        </div>
      <div class="temp_hitpoints">
        <h4>temporary hit points</h4>
        <p>@liveAttribute('Temporary_Hit_Points')</p>
        </div>
      <div class="hitdice">
        <h4>hit dice</h4>
        <h5>Total: @liveAttribute('Total_Hit_Dice')</h5>
        <p>@liveAttribute('Hit_Dice')</p>
        </div>
      <div class="death_save">
        <h4>death saves</h4>
        <table>
          <tr>
            <td id="left"><h5>Successes:</h5></td>
              <td id="right">
                @if($Death_Save_Success >= 1) <i class="fas fa-circle"></i> @endif
                @if($Death_Save_Success >= 2) <i class="fas fa-circle"></i> @endif
                @if($Death_Save_Success >= 3) <i class="fas fa-circle"></i> @endif
                @if($Death_Save_Success <= 2) <i class="far fa-circle"></i> @endif
                @if($Death_Save_Success <= 1) <i class="far fa-circle"></i> @endif
                @if($Death_Save_Success <= 0) <i class="far fa-circle"></i> @endif
                </td>
            </tr>
          <tr>
            <td id="left"><h5>Failures:</h5></td>
            <td id="right">
                @if($Death_Save_Failure >= 1) <i class="fas fa-circle"></i> @endif
                @if($Death_Save_Failure >= 2) <i class="fas fa-circle"></i> @endif
                @if($Death_Save_Failure >= 3) <i class="fas fa-circle"></i> @endif
                @if($Death_Save_Failure <= 2) <i class="far fa-circle"></i> @endif
                @if($Death_Save_Failure <= 1) <i class="far fa-circle"></i> @endif
                @if($Death_Save_Failure <= 0) <i class="far fa-circle"></i> @endif
              </td>
            </tr>

        </table>
        </div>
      </div>

    <div class="attacks_frame">
      <div class="quick_attacks">
        <div class="quick_name">
          <h4>attack</h4>
          </div>
        <div class="quick_bonus">
          <h4>bonus</h4>
          </div>
        <div class="quick_dmg">
          <h4>dmg / type</h4>
          </div>
        <div class="attack_1_name">
          <p>@liveAttribute('attack_1_name')</p>
          </div>
        <div class="attack_1_bonus">
          <p>@liveAttribute('attack_1_bonus')</p>
          </div>
        <div class="attack_1_dmg">
          <p>@liveAttribute('attack_1_dmg')</p>
          </div>
        <div class="attack_2_name">
          <p>@liveAttribute('attack_2_name')</p>
          </div>
        <div class="attack_2_bonus">
          <p>@liveAttribute('attack_2_bonus')</p>
          </div>
        <div class="attack_2_dmg">
          <p>@liveAttribute('attack_2_dmg')</p>
          </div>
        <div class="attack_3_name">
          <p>@liveAttribute('attack_3_name')</p>
          </div>
        <div class="attack_3_bonus">
          <p>@liveAttribute('attack_3_bonus')</p>
          </div>
        <div class="attack_3_dmg">
          <p>@liveAttribute('attack_3_dmg')</p>
          </div>
        </div>
      <div class="attacks">
        <p>{!! $Attacks !!}</p>
        <h4>Attacks</h4>
        </div>
      </div>
    <div class="spells">
      <div class="spells_content">
        <p>{!! $Spells !!}</p>
        </div>
      <div class="spells_title">
        <h4>Spellcasting</h4>
        </div>
      </div>
    </div>

  @if($Features)
    <div class="Features">
      <p>{!! $Features !!}</p>
      <h4>Features</h4>
      </div>
    @endif
  @if($Notes)
    <div class="Notes">
      <p>{!! $Notes !!}</p>
      <h4>Notes</h4>
      </div>
    @endif

@if($dodarkmode == true)
</div>
@else
</div>
@endif
<!-- Testing stuff starts -->
</body>
</html>
<!-- Testing stuff ends -->



<!-- General layout
{doDarkMode} false
-->
<!-- Header
{Class} -
{Level} 1
{Background} -
{Player_Name} -
{Race} -
{Alignment} -
{Experience_Points} 0
-->

<!-- Abilities
{Strength} 10
{Dexterity} 10
{Constitution} 10
{Intelligence} 10
{Wisdom} 10
{Charisma} 10
 -->

<!-- Saving Throws
{Strength_Save} 0
{Dexterity_Save} 0
{Constitution_Save} 0
{Intelligence_Save} 0
{Wisdom_Save} 0
{Charisma_Save} 0
-->


<!-- skills
{Acrobatics} 0
{Animal_Handling} 0
{Arcana} 0
{Athletics} 0
{Deception} 0
{History} 0
{Insight} 0
{Intimidation} 0
{Investigation} 0
{Medicine} 0
{Nature} 0
{Perception} 0
{Performance} 0
{Persuasion} 0
{Religion} 0
{Sleight_of_Hand} 0
{Stealth} 0
{Survival} 0
-->

<!-- Combat stuff
{Inspiration} 1
{Armour_Class} 10+floor(({Dexterity}-10)/2)
{Speed} 30 ft.
{Hit_Points} 1
{Hit_Point_maximum} 1
{Temporary_Hit_Points} 0
{Total_Hit_Dice} NdX
{Hit_Dice} NdX
{Death_Save_Success} 0
{Death_Save_Failure} 0
 -->


 <!-- Attacks & Spells
{attack_1_name1} Dagger
{attack_1_bonnus} 4
{attack_1_dmg} 1d6
{attack_2_name1}
{attack_2_bonnus}
{attack_2_dmg}
{attack_3_name1}
{attack_3_bonnus}
{attack_3_dmg}
{Attacks}
{Spells}
 -->

 <!-- Hidden text boxes
  {Features} -
  {Notes} -
  -->


 <!-- Internal modifier, saves and skills
{_initiative} floor(({Dexterity}-10)/2)
{_prof} ceil({Level}/4+1)
{_passiveper} 10+floor(({Wisdom}-10)/2)+({Perception}*ceil({Level}/4+1))

{_strmod} floor(({Strength}-10)/2)
{_dexmod} floor(({Dexterity}-10)/2)
{_conmod} floor(({Constitution}-10)/2)
{_intmod} floor(({Intelligence}-10)/2)
{_wismod} floor(({Wisdom}-10)/2)
{_chamod} floor(({Charisma}-10)/2)

{_strsave} floor(({Strength}-10)/2)+({Strength_Save}*ceil({Level}/4+1))
{_dexsave} floor(({Dexterity}-10)/2)+({Dexterity_Save}*ceil({Level}/4+1))
{_consave} floor(({Constitution}-10)/2)+({Constitution_Save}*ceil({Level}/4+1))
{_intsave} floor(({Intelligence}-10)/2)+({Intelligence_Save}*ceil({Level}/4+1))
{_wissave} floor(({Wisdom}-10)/2)+({Wisdom_Save}*ceil({Level}/4+1))
{_chasave} floor(({Charisma}-10)/2)+({Charisma_Save}*ceil({Level}/4+1))

{_Acrobatics} floor(({Dexterity}-10)/2)+({Acrobatics}*ceil({Level}/4+1))
{_Animal_Handling} floor(({Wisdom}-10)/2)+({Animal_Handling}*ceil({Level}/4+1))
{_Arcana} floor(({Intelligence}-10)/2)+({Arcana}*ceil({Level}/4+1))
{_Athletics} floor(({Strength}-10)/2)+({Athletics}*ceil({Level}/4+1))
{_Deception} floor(({Charisma}-10)/2)+({Deception}*ceil({Level}/4+1))
{_History} floor(({Intelligence}-10)/2)+({History}*ceil({Level}/4+1))
{_Insight} floor(({Wisdom}-10)/2)+({Insight}*ceil({Level}/4+1))
{_Intimidation} floor(({Charisma}-10)/2)+({Intimidation}*ceil({Level}/4+1))
{_Investigation} floor(({Intelligence}-10)/2)+({Investigation}*ceil({Level}/4+1))
{_Medicine} floor(({Wisdom}-10)/2)+({Medicine}*ceil({Level}/4+1))
{_Nature} floor(({Intelligence}-10)/2)+({Nature}*ceil({Level}/4+1))
{_Perception} floor(({Wisdom}-10)/2)+({Perception}*ceil({Level}/4+1))
{_Performance} floor(({Charisma}-10)/2)+({Performance}*ceil({Level}/4+1))
{_Persuasion} floor(({Charisma}-10)/2)+({Persuasion}*ceil({Level}/4+1))
{_Religion} floor(({Intelligence}-10)/2)+({Religion}*ceil({Level}/4+1))
{_Sleight_of_Hand} floor(({Dexterity}-10)/2)+({Sleight_of_Hand}*ceil({Level}/4+1))
{_Stealth} floor(({Dexterity}-10)/2)+({Stealth}*ceil({Level}/4+1))
{_Survival} floor(({Wisdom}-10)/2)+({Survival}*ceil({Level}/4+1))
-->
