<!-- Testing stuff starts -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style5e.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Testing stuff ends -->
<!-- The HTML inside this body tag is for upload to Kanka. The other stuff is so you can test in a browser tab. -->

<div class="dnd5eCharSheet">

  <div class="icon">
  </div>

  <div class="header">
    <div class="class">
      <p>{Class} Lvl. {Level}</p>
      <div class="subTitle">
        <h4>Class & Level:</h4>
        </div>
      </div>
    <div class="background">
      <p>{Background}</p>
      <div class="subTitle">
        <h4>Background:</h4>
        </div>
      </div>
    <div class="player">
      <p>{Player Name}</p>
      <div class="subTitle">
        <h4>Player:</h4>
        </div>
      </div>
    <div class="race">
      <p>{Race}</p>
      <div class="subTitle">
        <h4>Race:</h4>
        </div>
      </div>
    <div class="alignment">
      <p>{Alignment}</p>
      <div class="subTitle">
        <h4>Alignment:</h4>
        </div>
      </div>
    <div class="xp">
      <p>{Experience Points}</p>
      <div class="subTitle">
        <h4>XP:</h4>
        </div>
      </div>
    </div>


  <div class="col_left">
    <div class="abilities">
      <div class="ability_box">
        <h4>Strength</h4>
        <p>{_strmod}</p>
        <div class=ability_circle>
          <p>{Strength}</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Dexterity</h4>
        <p>{_dexmod}</p>
        <div class=ability_circle>
          <p>{Dexterity}</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Constitution</h4>
        <p>{_conmod}</p>
        <div class=ability_circle>
          <p>{Constitution}</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Intelligence</h4>
        <p>{_intmod}</p>
        <div class=ability_circle>
          <p>{Intelligence}</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Wisdom</h4>
        <p>{_wismod}</p>
        <div class=ability_circle>
          <p>{Wisdom}</p>
          </div>
        </div>
      <div class="ability_box">
        <h4>Charisma</h4>
        <p>{_chamod}</p>
        <div class=ability_circle>
          <p>{Charisma}</p>
          </div>
        </div>
      </div>

    <div class="col_left_right">
      <div class="inspiration_box">
        <div class="banner_circle">
          <p>{Inspiration}</p>
          </div>
        <div class="banner_square">
          <h4>Inspiration</h4>
          </div>
        </div>
      <div class="proficency_box">
        <div class="banner_circle">
          <p>{_prof}</p>
          </div>
        <div class="banner_square">
          <h4>Proficiency Bonus</h4>
          </div>
        </div>
      <div class="passive_wisdom">
        <div class="banner_circle">
          <p>{_passiveper}</p>
          </div>
        <div class="banner_square">
          <h4>Passive Wisdom (Perception)</h4>
          </div>
      </div>

      <div class="saves">
        <div class="profsign">&#9678;</div><div class="profvalue">{_strsave}</div><div class="proftext">Strength Save</div>
        <div class="profsign">&#9678;</div><div class="profvalue">{_dexsave}</div><div class="proftext">Dexterity Save</div>
        <div class="profsign">&#9678;</div><div class="profvalue">{_consave}</div><div class="proftext">Constitution Save</div>
        <div class="profsign">&#9678;</div><div class="profvalue">{_intsave}</div><div class="proftext">Intelligence Save</div>
        <div class="profsign">&#9678;</div><div class="profvalue">{_wissave}</div><div class="proftext">Wisdom Save</div>
        <div class="profsign">&#9678;</div><div class="profvalue">{_chasave}</div><div class="proftext">Charisma Save</div>
        <h4>Saving Throws</h4>
        </div>

      <div class="skills">
        <div class="profsign">
          @if({Acrobatics} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Acrobatics} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div>
        <div class="profvalue">{_Acrobatics}</div><div class="proftext">Acrobatics</div>
        <div class="profsign">
          @if({AnimalHandling} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({AnimalHandling} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_AnimalHandling}</div><div class="proftext">Animal Handling</div>
        <div class="profsign">
          @if({Arcana} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Arcana} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Arcana}</div><div class="proftext">Arcana</div>
        <div class="profsign">
          @if({Athletics} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Athletics} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Athletics}</div><div class="proftext">Athletics</div>
        <div class="profsign">
          @if({Deception} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Deception} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Deception}</div><div class="proftext">Deception</div>
        <div class="profsign">
          @if({History} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({History} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_History}</div><div class="proftext">History</div>
        <div class="profsign">
          @if({Insight} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Insight} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Insight}</div><div class="proftext">Insight</div>
        <div class="profsign">
          @if({Intimidation} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Intimidation} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Intimidation}</div><div class="proftext">Intimidation</div>
        <div class="profsign">
          @if({Investigation} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Investigation} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Investigation}</div><div class="proftext">Investigation</div>
        <div class="profsign">
          @if({Medicine} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Medicine} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Medicine}</div><div class="proftext">Medicine</div>
        <div class="profsign">
          @if({Nature} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Nature} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Nature}</div><div class="proftext">Nature</div>
        <div class="profsign">
          @if({Perception} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Perception} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Perception}</div><div class="proftext">Perception</div>
        <div class="profsign">
          @if({Performance} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Performance} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Performance}</div><div class="proftext">Performance</div>
        <div class="profsign">
          @if({Persuasion} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Persuasion} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Persuasion}</div><div class="proftext">Persuasion</div>
        <div class="profsign">
          @if({Religion} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Religion} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Religion}</div><div class="proftext">Religion</div>
        <div class="profsign">
          @if({SleightofHand} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({SleightofHand} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_SleightofHand}</div><div class="proftext">Sleight of Hand</div>
        <div class="profsign">
          @if({Stealth} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Stealth} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Stealth}</div><div class="proftext">Stealth</div>
        <div class="profsign">
          @if({Survival} > 0)
            <i class="fas fa-circle"></i>
            @endif
          @if({Survival} = 0)
            <i class="far fa-circle"></i>
            @endif
          </div><div class="profvalue">{_Survival}</div><div class="proftext">Survival</div>
        <h4>Skills</h4>
        </div>
      </div>

    </div>

  <div class="col_center">
    <div class="col_center_top">
      <div class="ac">
        <h4>Armour Class</h4>
        <p>{Armour Class}</p>
        </div>
      <div class="ini">
        <h4>Initiative</h4>
        <p>{_initiative}</p>
        </div>
      <div class="speed">
        <h4>Speed</h4>
        <p>{Speed}</p>
        </div>
      <div class="hitpoints">
        <h4>Current hit points</h4>
        <p>{Hit Points} / {Hit Point maximum}</p>
        </div>
      <div class="temp_hitpoints">
        <h4>temporary hit points</h4>
        <p>{Temporary Hit Points}</p>
        </div>
      <div class="hitdice">
        <h4>hit dice</h4>
        <h5>Total: {Total Hit Dice}</h5>
        <p>{Hit Dice}</p>
        </div>
      <div class="death_save">
        <h4>death saves</h4>
        <h5>Successes:
          @if({Death Save Success} >= 1) <i class="fas fa-circle"></i> @endif
          @if({Death Save Success} < 1) <i class="far fa-circle"></i> @endif
          @if({Death Save Success} >= 2) <i class="fas fa-circle"></i> @endif
          @if({Death Save Success} < 2) <i class="far fa-circle"></i> @endif
          @if({Death Save Success} >= 3) <i class="fas fa-circle"></i> @endif
          @if({Death Save Success} < 3) <i class="far fa-circle"></i> @endif
          </h5>
        <h5>Failures:
          @if({Death Save Failure} >= 1) <i class="fas fa-circle"></i> @endif
          @if({Death Save Failure} < 1) <i class="far fa-circle"></i> @endif
          @if({Death Save Failure} >= 2) <i class="fas fa-circle"></i> @endif
          @if({Death Save Failure} < 2) <i class="far fa-circle"></i> @endif
          @if({Death Save Failure} >= 3) <i class="fas fa-circle"></i> @endif
          @if({Death Save Failure} < 3) <i class="far fa-circle"></i> @endif
          </h5>
        </div>
      </div>

    <div class="attacks_spells">
      <div class="quick_attacks">
        <div class="quick_name">
          <h4>attack</h4>
          </div>
        <div class="quick_bonus">
          <h4>bonus</h4>
          </div>
        <div class="quick_dmg">
          <h4>dmg / type</h4>
          </div>
        <div class="attack_1_name">
          <p>{attack_1_name}</p>
          </div>
        <div class="attack_1_bonus">
          <p>{attack_1_bonus}</p>
          </div>
        <div class="attack_1_dmg">
          <p>{attack_1_dmg}</p>
          </div>
        <div class="attack_2_name">
          <p>{attack_2_name}</p>
          </div>
        <div class="attack_2_bonus">
          <p>{attack_2_bonus}</p>
          </div>
        <div class="attack_2_dmg">
          <p>{attack_2_dmg}</p>
          </div>
        <div class="attack_3_name">
          <p>{attack_3_name}</p>
          </div>
        <div class="attack_3_bonus">
          <p>{attack_3_bonus}</p>
          </div>
        <div class="attack_3_dmg">
          <p>{attack_3_dmg}</p>
          </div>
        </div>
      <div class="attacks">
        <h4>Attacks</h4>
        {Attacks}
        </div>
      <div class="spells">
        {Spells}
        <h4>Spellcasting</h4>
        </div>
      </div>
  </div>

  @if({Features})
    <div class="Features">
      <h4>Features</h4>
      <p>{Features}</p>
      </div>
    @endif
  @if({Notes})
    <div class="Notes">
      <h4>Notes</h4>
      <p>{Notes</p>
      </div>
    @endif
<!-- Testing stuff starts -->
</body>
</html>
<!-- Testing stuff ends -->



<!-- Header
{Class}
{Level}
{Background}
{Player Name}
{Race}
{Alignment}
{Experience Points}
-->

<!-- Abilities
{Strength}
{Dexterity}
{Constitution}
{Intelligence}
{Wisdom}
{Charisma}
 -->

<!-- Combat stuff
{Armour Class}
{_initiative}
{Speed}
{Hit Points}
{Hit Point maximum}
{Temporary Hit Points}
{Total Hit Dice}
{Hit Dice}
{Death Save Success}
{Death Save Failure}
 -->

 <!-- Attacks & Spells
{Attacks}
{Spells}
{attack_1_name1}
{attack_1_bonnus}
{attack_1_dmg}
{attack_2_name1}
{attack_2_bonnus}
{attack_2_dmg}
{attack_3_name1}
{attack_3_bonnus}
{attack_3_dmg}
 -->

 <!-- Hidden text boxes
  {Features}
  {Notes}
  -->


 <!-- Internal modifier, saves and skills
{_strmod}
{_dexmod}
{_conmod}
{_intmod}
{_wismod}
{_chamod}

{Inspiration}
{_prof}
{_passiveper}

{_strsave}
{_dexsave}
{_consave}
{_intsave}
{_wissave}
{_chasave}

{_Acrobatics}
{_AnimalHandling}
{_Arcana}
{_Athletics}
{_Deception}
{_History}
{_Insight}
{_Intimidation}
{_Investigation}
{_Medicine}
{_Nature}
{_Perception}
{_Performance}
{_Persuasion}
{_Religion}
{_SleightofHand}
{_Stealth}
{_Survival} -->
