@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

:root {
  --background_colour: #DBDADA;
  --foreground_colour: #ffffff;
  --border_colour: #000000;
  --text_color_first: #000000;
  --text_color_second: #A9A9A9;
}

.dnd5eCharSheet {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "icon header header header header header"
    "col_left col_left col_left col_center col_center col_center"
    "Features Features Features Features Features Features"
    "Notes Notes Notes Notes Notes Notes";
  grid-gap: 10px;
  max-width: 1000px;
  color: var(--text_color_first);
  padding: 10px;
}

.dnd5eCharSheet .header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "class bg player"
    "race alignment xp";
  grid-column-gap: 10px;
  border: 5px double var(--border_colour);
  padding: 5px;
  /*margin: 10px;*/
  align-items: end;
}

.dnd5eCharSheet .col_left {
  grid-area: col_left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "abilities col_left_right col_left_right";
    /*"prof_lang prof_lang prof_lang";*/
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /*margin-left: 10px;*/
  align-content: baseline;
}

.dnd5eCharSheet .col_center {
  grid-area: col_center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: max-content;
  grid-template-areas:
    "col_center_top"
    "attacks_spells";
    /*"equipment";*/
  grid-row-gap: 10px;
  /*margin-right: 10px;*/
}


.dnd5eCharSheet .attack_spells {
  grid-area: attack_spells;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: max-content;
  grid-template-areas:
    "quick_attacks"
    "attacks"
    "spells";
    /*"equipment";*/
  grid-row-gap: 10px;
  /*margin-right: 10px;*/
}


.dnd5eCharSheet .col_left_right {
  grid-area: col_left_right;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "inspiration_box"
    "proficency_box"
    "passive_wisdom"
    "saves"
    "skills";
    grid-row-gap: 10px;
}


.dnd5eCharSheet
  .prof_lang p,
  .attacks_spells p,
  .equipment p,
  .saves p,
  .skills p,
  .ideals_box p,
  .Features p,
  .Notes p {
  padding: 5px;
  margin: 5px;
}

.dnd5eCharSheet
  .prof_lang,
  .attacks_spells,
  .equipment,
  .saves,
  .skills,
  .ideals_box,
  .Features,
  .Notes {
  border: 5px double var(--border_colour);
  border-radius: 22px;
  padding: 5px;
  margin: 0px;
}

.dnd5eCharSheet
  .ac,
  .ini,
  .speed,
  .hitpoints,
  .temp_hitpoints,
  .hitdice,
  .death_save {
  background-color: var(--foreground_colour);
  border: 5px double var(--border_colour);
  border-radius: 10px;
  padding: 0px;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}


.dnd5eCharSheet
  .class,
  .race,
  .background,
  .alignment,
  .player,
  .xp {
  padding: 0px;
  margin: 0px;
}

.dnd5eCharSheet .col_center_top {
  grid-area: col_center_top;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "ac ac ini ini speed speed"
    "hitpoints hitpoints hitpoints temp_hitpoints temp_hitpoints temp_hitpoints"
    "hitdice hitdice hitdice death_save death_save death_save";
  grid-gap: 0px;
  align-items: inherit;
  align-self: center;
}

/*
.dnd5eCharSheet .col_right {
  grid-area: col_right;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "ideals"
    "Features";
  grid-column-gap: 10px;
  margin: 0px;
  padding: 5px;
}
*/
.dnd5eCharSheet .subTitle {
  background-color: var(--foreground_colour);
  border-top: 1px solid var(--border_colour);
  padding: 2px;
  margin: 2px;
}

.dnd5eCharSheet .subTitle p {
  padding: 2px;
  margin: 2px;
}


.dnd5eCharSheet .inspiration_box {
  grid-area: inspiration_box;
  display: flex;
}

.dnd5eCharSheet .proficency_box {
  grid-area: proficency_box;
  display: flex;
}

.dnd5eCharSheet .ideals {
  grid-area: ideals;
  margin: 0px;
  padding 5px;
}

.dnd5eCharSheet .ideals_box {
  grid-area: ideals_box;
  background-color: var(--foreground_colour);
}

.dnd5eCharSheet .ideals_box p {
  margin: 5px;
}


.dnd5eCharSheet .ability_box {
  background-color: var(--foreground_colour);
  border: 5px double var(--border_colour);
  border-radius: 22px;
  text-align: center;
  margin: 5px;
  min-height: 80px;
}


.dnd5eCharSheet
  .ability_box h4,
  .ideals_box h4,
  .skills h4,
  .saves h4,
  .banner_square h4,
  .prof_lang h4,
  .attacks_spells h4,
  .equipment h4,
  .saves h4,
  .skills h4,
  .ideals_box h4,
  .Features h4,
  .Notes h4 {
  font-size: 10px;
  margin: 0px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.dnd5eCharSheet .class h4,
  .race h4,
  .background h4,
  .alignment h4,
  .player h4,
  .xp h4 {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  text-transform: uppercase;
}

.dnd5eCharSheet .class p,
  .race p,
  .background p,
  .alignment p,
  .player p,
  .xp p {
  font-size: 15px;
  margin: 2px;
  padding: 2px;
  text-align: left;
}

.dnd5eCharSheet .ac h4,
  .ini h4,
  .speed h4,
  .hitpoints h4,
  .temp_hitpoints h4,
  .hitdice h4,
  .death_save h4,
  .quick_name h4,
  .quick_bonus h4,
  .quick_dmg h4 {
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}

.dnd5eCharSheet .hitdice h5,
  .death_save h5 {
  font-size: 10px;
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: var(--text_color_second);
  text-transform: center;
}
.dnd5eCharSheet .death_save h5 {
  text-transform: uppercase;
  text-align: right;
}

.dnd5eCharSheet table {
  width: 100%;
  align-self: center;
}

.dnde5CharSheet td.left {
  text-align: right;
}

.dnde5CharSheet td.right {
  text-align: left;
}



.dnd5eCharSheet .quick_name h4,
  .quick_bonus h4,
  .quick_dmg h4 {
  color: var(--text_color_second);
  }

.dnd5eCharSheet .ac p,
  .ini p,
  .speed p,
  .hitpoints p,
  .temp_hitpoints p,
  .hitdice p,
  .death_save p {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
}

.dnd5eCharSheet .ability_box p {
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

.dnd5eCharSheet .ability_circle p {
  font-size: 14px;
  border: 3px var(--border_colour);
  border-style: solid solid none solid;
  border-radius: 15px 15px 0px 0px;
  margin: 0% 10% 0% 10%;
  padding-bottom: 0px;

}

.dnd5eCharSheet .insiration_box,
  .proficency_box {
  overflow: hidden;
}

.dnd5eCharSheet .banner_circle {
  float: left;
  width: 25%;
  box-sizing: border-box;
  background-color: var(--foreground_colour);
  border: 3px double var(--border_colour);
  border-radius: 15px;
  /*margin-bottom: 5px;*/
  margin-right: 0px;
  /*padding: 0px;*/
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd5eCharSheet .banner_square {
  float: left;
  width: 75%;
  margin-right: 0px;
  box-sizing: border-box;
  background-color: var(--foreground_colour);
  border: 3px double var(--border_colour);
  border-radius: 0px 10px 10px 0px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd5eCharSheet .banner_circle p {
  font-size: 20px;
  margin: 0px;
  padding: 3px;
  text-align: center;
}

.dnd5eCharSheet .profsign {
  float: left;
  width: 10%;
  background-color: var(--foreground_colour);
  box-sizing: border-box;
}

.dnd5eCharSheet .profvalue {
  float: left;
  width: 15%;
  background-color: var(--foreground_colour);
  border-bottom: 2px solid var(--border_colour);
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 0px;
  text-align: center;
}

.dnd5eCharSheet .proftext {
  float: left;
  width: 70%;
  box-sizing: border-box;
  font-size: 12px;
  margin-bottom: 10px;
}


.dnd5eCharSheet .abilities,
  .col_center_top,
  .ideals {
  background-color: var(--background_colour);
  border-radius: 10px;
}


.dnd5eCharSheet .quick_attacks{
  grid-area: quick_attacks;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "quick_name quick_name quick_bonus quick_dmg quick_dmg"
    "attack_1_name attack_1_name attack_1_bonus attack_1_dmg attack_1_dmg"
    "attack_2_name attack_2_name attack_2_bonus attack_2_dmg attack_2_dmg"
    "attack_3_name attack_3_name attack_3_bonus attack_3_dmg attack_3_dmg";
  grid-gap: 5px;
  align-items: inherit;
  align-self: center;
}


.dnd5eCharSheet .icon {
  grid-area: icon;
  /*align-self: center;*/
  background-image: url('https://raw.githubusercontent.com/Dschaykib/kankaTemplate/dev/templates/DnD5e/dragon-icon.png');
  /*background-image: url('dragon-icon.png');*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  /*text-align: right;*/
}

.dnd5eCharSheet .icon p {
  font-size: 30px;
  padding-left: 30%;
}


.dnd5eCharSheet .prof_lang {
  grid-area: prof_lang;
}

.dnd5eCharSheet .passive_wisdom {
  grid-area: passive_wisdom;
  display: flex;
}

.dnd5eCharSheet .abilities {
  display: grid;
  grid-area: abilities;
  grid-template-columns: repeat(1, 1fr);
  align-content: baseline;
  /*background-image: url('test-frame.jpg');
  background-repeat: space;*/
}

.dnd5eCharSheet .skills {
  grid-area: skills;
}

.dnd5eCharSheet .combat {
  grid-area: combat;
}

.dnd5eCharSheet .profs{
  grid-area: profs;
}

.dnd5eCharSheet .senses{
  grid-area: senses;
}

.dnd5eCharSheet .saves {
  grid-area: saves;
}

/* Currently not used, intended to highlight proficenct skills */
.dnd5eCharSheet .prof {
  font-weight: bold;
}

.dnd5eCharSheet .Features {
  grid-area: Features;
}

.dnd5eCharSheet .Notes {
  grid-area: Notes;
}

.dnd5eCharSheet .attacks {
  grid-area: attacks;
}

.dnd5eCharSheet .quick_name {
  grid-area: quick_name;
}

.dnd5eCharSheet .quick_bonus {
  grid-area: quick_bonus;
}

.dnd5eCharSheet .quick_dmg {
  grid-area: quick_dmg;
}

.dnd5eCharSheet .spells {
  grid-area: spells;
}

.dnd5eCharSheet .class {
  grid-area: class;
}

.dnd5eCharSheet .background {
  grid-area: bg;
}

.dnd5eCharSheet .player {
  grid-area: player;
}

.dnd5eCharSheet .race {
  grid-area: race;
}

.dnd5eCharSheet .alignment{
  grid-area: alignment;
}

.dnd5eCharSheet .xp {
  grid-area: xp;
}

.dnd5eCharSheet .ac {
  grid-area: ac;
}
.dnd5eCharSheet .ini {
  grid-area: ini;
}
.dnd5eCharSheet .speed {
  grid-area: speed;
}
.dnd5eCharSheet .hitpoints {
  grid-area: hitpoints;
}
.dnd5eCharSheet .temp_hitpoints {
  grid-area: temp_hitpoints;
}
.dnd5eCharSheet .hitdice {
  grid-area: hitdice;
}
.dnd5eCharSheet .death_save {
  grid-area: death_save;
}


.dnd5eCharSheet .attack_1_name {
  grid-area: attack_1_name;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_1_bonus {
  grid-area: attack_1_bonus;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_1_dmg {
  grid-area: attack_1_dmg;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_2_name {
  grid-area: attack_2_name;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_2_bonus {
  grid-area: attack_2_bonus;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_2_dmg {
  grid-area: attack_2_dmg;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_3_name {
  grid-area: attack_3_name;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_3_bonus {
  grid-area: attack_3_bonus;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}
.dnd5eCharSheet .attack_3_dmg {
  grid-area: attack_3_dmg;
  background-color: var(--background_colour);
  border-radius: 10px 0px 10px 0px;
}


@media (max-width: 1000px) {
  .dnd5eCharSheet{
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "icon"
      "header"
      "col_left"
      "col_center"
      "Features"
      "Notes";
    }

  .dnd5eCharSheet .header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "class race"
      "bg alignment"
      "player  xp";
  }
}
